*{
    margin: 0;
    padding: 0;
}

body .content-main{

    background-image: url("assets/background-unae.jpg");
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

.content-main{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 47% 3% 50%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    
    
}

.content-main .line{
    margin-left: 30px;
    background: #264653;
    width: 5px;
    height: auto;
    grid-column: 2;
    grid-row: 2/4;
}

 .content-main .content-form{
     font-family: sans-serif;
     padding-top: 70px;
     padding-left: 30px;
     width: 70%;
     grid-column-start: 3;
     grid-row: 2/4;
}

.content-main .content-img-unae{
    display: flex;
    padding-right: 100px;
    align-items: center;
    justify-content: right;
    grid-column-start:1;
    grid-column-end:1;
    grid-row-start: 2;
    grid-row-end: 3;
}
.content-main .content-img-sgd{
    padding-right: 100px;
    grid-row-start:3;
    grid-row-end:4 ;
    display: flex;
    align-items: center;
    justify-content: right;
}


input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  @media screen and (max-width: 768px) {

    .content-main{
        position: absolute;
        width: 100%;
        background: #fff;
        display: grid;
        grid-gap: 30px;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr;
        
        
    }
    .content-main .line{
        margin-left: 30px;
        background: transparent;
        width: 5px;
        height: auto;
        grid-column: 1;
        grid-row: 1;
    }

    .content-main .content-img-unae{
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column-start:1;
        grid-row-start: 1;
    }

    .content-main .content-form{
        font-family: sans-serif;
        padding-top: 70px;
        padding-left: 30px;
        width: 80%;
        grid-column: 1/2;
        grid-row: 2/4;
   }

   .content-main .content-img-sgd{
    grid-column-start:1;
    grid-row-start:3;
    display: flex;
    align-items: center;
    justify-content: end;
}

      
  }

